body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    font-family: "Segoe UI", sans-serif;
}

#main-card {
    max-width: 900px;
    margin: auto;
    margin-top: 40px;
    background: white;
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0px 20px 50px rgba(0,0,0,0.35);
}

#title {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    background: linear-gradient(to right, #6366f1, #22d3ee);
    -webkit-background-clip: text;
    color: transparent;
}

#subtitle {
    text-align: center;
    font-size: 18px;
    color: #64748b;
    margin-bottom: 25px;
}

label {
    font-weight: 600 !important;
    color: #0f172a !important;
}

button {
    border-radius: 12px !important;
    font-weight: 600 !important;
}
